.searchContainer{
    padding-bottom: 21px;
    width: 310px;

}

.Centralization{
  position:fixed;
    top: 50%;
    left: 50%;
    width:310px;
    height:200px;
    margin-top: -9rem; /*set to a negative number 1/2 of your height*/
    margin-left: -11rem; /*set to a negative number 1/2 of your width*/
}

.imageCss {
  width: 300px;
  margin-bottom: 10px;
}

.CentralizationNews{
   position: fixed;
    top: 10%;
    left: 40%;
    width: 350px;
    height: 200px;
}


.newsContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.newsText {
  /* display: flex;
  flex-direction: row; */

}

.searchButton{
width: 23%;
/* width: 40px; */
  height: 36px;
  border: 1px solid #8c9fb4;
  background: #8c9fb4;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}


.searchInput{
  width: 72%;
  /* width: 100%; */
  border: 3px solid #8c9fb4;;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #8c9fb4;
}

body{
  background: #f2f2f2;
  font-family: 'Open Sans', sans-serif;
}

:root {
  --border-radius: 10px;
}

.error{
  color: red;
}